#!/usr/bin/make -f

# This is the package name.
PACKAGE = country-block

# Directories for installation
SBIN_DIR = /usr/sbin
ETC_DIR = /etc/country-block
CACHE_DIR = /var/cache/country-block
SYSTEMD_DIR = /usr/lib/systemd/system
PREFIX = /usr

# Script and file names
CLI_SCRIPT = country-block
CONFIG_FILE = rules.conf.example
SERVICE_FILE = country-block.service
UPDATE_SERVICE_FILE = country-block-update.service
UPDATE_TIMER_FILE = country-block.timer
CONFIG_TARGET_FILE = $(ETC_DIR)/rules.conf
MAN_DIR = /usr/share/man/man8

# Metadata for rules (used in maintainer scripts)
IPTABLES_COMMENT = country-block-rule
IPSET_PREFIX = country_

# Build system (none, as it's just scripts)
%:
	dh $@

override_dh_auto_install:
	# Create necessary directories
	install -d $(CURDIR)/debian/$(PACKAGE)/$(SBIN_DIR)
	install -d $(CURDIR)/debian/$(PACKAGE)/$(ETC_DIR)
	install -d $(CURDIR)/debian/$(PACKAGE)/$(CACHE_DIR)
	install -d $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)
	install -d $(CURDIR)/debian/$(PACKAGE)/$(MAN_DIR)

	# Install systemd units from templates with placeholder replacement
	sed "s|@PREFIX@|$(PREFIX)|g" country-block.service.template > $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)/$(SERVICE_FILE)
	sed "s|@PREFIX@|$(PREFIX)|g" country-block-update.service.template > $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)/$(UPDATE_SERVICE_FILE)
	install -m 644 country-block.timer $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)/$(UPDATE_TIMER_FILE)

	# Set permissions for the installed files
	chmod 644 $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)/$(SERVICE_FILE)
	chmod 644 $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)/$(UPDATE_SERVICE_FILE)
	chmod 644 $(CURDIR)/debian/$(PACKAGE)/$(SYSTEMD_DIR)/$(UPDATE_TIMER_FILE)

	# Install scripts
	install -m 755 $(CLI_SCRIPT) $(CURDIR)/debian/$(PACKAGE)/$(SBIN_DIR)/
	install -m 644 debian/country-block.8 $(CURDIR)/debian/$(PACKAGE)/$(MAN_DIR)/

	# Install example rules file as conffile
	install -m 644 $(CONFIG_FILE) $(CURDIR)/debian/$(PACKAGE)/$(CONFIG_TARGET_FILE)

	# Install README.md as documentation
	install -d $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)
	install -m 644 README.md $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/
	install -m 644 debian/copyright $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/
	gzip -9n $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/README.md

override_dh_installchangelogs:
	dh_installchangelogs

override_dh_installman:
	dh_installman

override_dh_installdocs:
	# Documentation handled in override_dh_auto_install
	true

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
